*{
  margin:5px;
  padding:5px;
  box-sizing:border-box;
}

body{
  background-color: rgb(143, 143, 211);
  text-align: center;
  line-height:2.1;
}

.hero img{
  border-radius:50%;
}

.accent{
  color:pink;
}